@import "@material-design-icons/font";

:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 800px;
    margin: 0 auto;
    padding: 2.5rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Website_Title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.Checkout,
.Cart,
.Product_Creator,
.Product_List,
.User_Tab {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.UserTab_Content_Wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    max-height: 60vh;
    overflow-y: scroll;

    padding: 1.5rem 2rem;

    border: 1px solid gray;
    border-radius: 1rem;

    position: relative;
}

.UserTab_Content_Wrapper.Extra_Bottom_Padding {
    padding-bottom: 12.5rem;
}

.UserTab_Content_Wrapper::-webkit-scrollbar {
    display: none;
}

.User_Tab_Card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 1rem;

    position: relative;
    margin-block: 1rem;
}

.User_Tab_Card_Title {
    position: absolute;
    font-size: 2rem;
    top: -1.25rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding-inline: 1rem;
    width: max-content;
}

.User_Tab_Card_Info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.User_Tab_Card_Info_Image_Container {
    width: 144px;
    height: 144px;
    display: flex;

    border: 1px solid gray;
    padding: 1rem;
    border-radius: 0.5rem;

    position: relative;
}

.User_Info_Item_Container {
    display: flex;
    gap: 2rem;
}

.User_Info_Item {
    display: flex;
    flex-direction: column;
}

.User_Info_Item_Label {
    font-weight: bold;
    font-size: 1rem;
}

.User_Tab_Card_Info_Image_Edit_Btn,
.User_Info_Item_Edit_Btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: lightblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    margin-left: auto;
}

.User_Tab_Card_Info_Image_Edit_Btn {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

.User_Info_Item_Edit_Btn_Text {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    margin-inline: auto;
}

.User_Info_Item_Edit_Btn_Icon {
    font-size: 1.25rem;
}

.User_Account_Info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.User_Tab_Card_Info_Items_List {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.User_Info_Edit_Control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.User_Info_Edit_Control_Overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;

    bottom: 1.5rem;
    left: 0;
    right: 0;

    padding: 2rem 2rem;
    background-color: rgba(0, 136, 255, 0.4);
    outline: 1px solid gray;
    outline-offset: -1px;
    border-radius: 0 0 1rem 1rem;
    backdrop-filter: blur(2px);
    overflow: hidden;
}

.User_Login_Btn,
.User_Google_Login_Btn,
.Logout_Btn,
.User_Info_Edit_Control_Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: lightblue;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    width: 100%;
}

.User_Login_Btn_Text,
.User_Google_Login_Btn_Text,
.Logout_Btn_Text,
.User_Info_Edit_Control_Btn_Text {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
}

.User_Login_Btn_Icon,
.User_Google_Login_Btn_Icon,
.Logout_Btn_Icon,
.User_Info_Edit_Control_Btn_Icon {
    font-size: 1.25rem;
}

.User_No_Orders {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.User_No_Orders > span {
    font-size: 3rem;
}

.User_No_Orders_Text {
    max-width: 35ch;
    text-align: center;
}

.Order_SeeMore_Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: lightblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    text-decoration: none;
    color: black;
}

.User_Order_List {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.User_Order_Item {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 1rem;
    border-radius: 1rem;

    border: 1px solid gray;
}

.Order_Item_Text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Order_Item_Text_Headers_Container {
    display: flex;
    gap: 0.5rem;
}

.Order_Item_Text_Header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-width: max-content;
}

.Order_Item_Text_Header_Item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: flex-start;

    background-color: lightgray;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    width: 100%;
}

.User_Order_Status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: lightgray;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.User_Order_Status_Call_Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: lightblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    text-decoration: none;
    color: black;
}

.Order_Expand_Btn {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-color: lightblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.Order_Expand_Btn_Icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    border-radius: 0.5rem;

    text-decoration: none;
    color: black;

    transition: transform 0.25s;
}

.Order_Expand_Btn_Icon.Active {
    transform: rotate(180deg);
}

.User_Order_Extra_Info {
    display: flex;
    flex-direction: column;

    border-radius: 1rem;
    background-color: lightgray;
    margin-top: 1rem;
}

.User_Order_Product_List {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin: 1rem;
    margin-bottom: 0.5rem;
}

.User_Order_Product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;
    gap: 0.5rem;
}

.User_Order_Product:first-of-type {
    border-top: 1px solid gray;
    padding-top: 0.5rem;
}

.User_Order_Product_Qtty {
    margin-left: auto;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: bold;
    font-size: 0.9rem;
}

.User_Order_Shipping_Option_Type,
.User_Order_Product_Price {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: gray;
    min-width: 7rem;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.User_Order_Shipping_Option {
    margin: 1rem;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.Admin_Actions_List {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Control_Panel_Link_Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: lightblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    text-decoration: none;
    color: black;
}

.Control_Panel_Link_Btn_Text {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}

/* Aba de Login */

.User_Login_Container_Separator {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.User_Login_Container_Separator_Text {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: gray;
    margin-block: 1rem;
}

.User_Login_Container_Separator_Line {
    width: 100%;
    height: 1px;
    background-color: gray;
}

.Email_Login_Container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.User_Login_Input_Container {
    display: flex;
    width: 100%;
    position: relative;
}

.User_Login_Input {
    padding: 1rem;
    padding-right: 3.5rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1rem;
}

.User_Login_Input_Icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
}

/* Lista de Produtos */

.Product_List_List {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Product_List_Card {
    display: flex;
    gap: 2rem;
}

.Cart_Item {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.Product_List_Card_Image_Container {
    aspect-ratio: 1/1;
    max-width: 144px;
    display: flex;

    border: 1px solid gray;
    padding: 1rem;
    border-radius: 0.5rem;

    position: relative;
    flex-shrink: 0;
}

.Cart_Item_Image_Container {
    aspect-ratio: 1/1;
    max-width: 82px;
    display: flex;

    border: 1px solid gray;
    padding: 0.25rem;
    border-radius: 0.5rem;

    position: relative;
    flex-shrink: 0;
}

.Product_List_Card_Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Product_List_Card_Info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.Cart_Item_Info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.Product_List_Card_Info_Header {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.Product_List_Card_Info_Footer {
    display: flex;
    gap: 0.5rem;
    margin-top: auto;
}

.Product_List_Card_Price {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: lightgray;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    max-width: max-content;
    min-width: max-content;
    margin-left: auto;
}

.Product_List_Card_Edit_Btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: lightblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
    min-width: max-content;
}

/* Carrinho */
.Cart_List {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: 1rem;
    margin-top: 1rem;
}

.Cart_Item_Quantity_Selector {
    display: flex;
    align-items: stretch;
    gap: 0.5rem;
    margin-top: auto;
}

.Cart_Item_Quantity_Ammount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.Cart_Item_Button {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: lightblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.Cart_Item_Button_Increment,
.Cart_Item_Button_Decrement {
    padding: 0.5rem;
    border-radius: 50%;
}

.Cart_Footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
}

.Cart_Footer_Total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.Cart_Footer_Total_Value {
    min-width: max-content;
    background-color: lightgray;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
}

.Cart_Footer_Warning {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: lightblue;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.Cart_Footer_Buttons_Container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Cart_Footer_Checkout_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    background-color: lightblue;
    border: none;
    padding: 1.25rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    text-transform: uppercase;

    width: 100%;
}

.Cart_Footer_Checkout_Button.Disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

/* Checkout */

.User_Shipping_Total,
.User_Order_Total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;

    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.User_Shipping_Total {
    margin-top: 0;
    border-top: 1px solid gray;
    padding-top: 1rem;
    margin-inline: 0;
}

.User_Order_Total_Value {
    background-color: lightgray;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    min-width: 7rem;
}

.Checkout_Receive_Options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
}

.Receive_Option {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    min-height: 4.5rem;

    background-color: rgba(173, 216, 230, 0.5);
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;

    cursor: pointer;

    transition: background-color 0.25s;
}

.Receive_Option.Active {
    background-color: rgba(173, 216, 230, 1);
}

.Recieve_Option_Map_Link {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    background-color: #009ee3;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    text-decoration: none;
    color: black;
    margin-left: 0.5rem;

    font-size: 0.75rem;
    text-transform: uppercase;
}

.Recieve_Option_Map_Link > span {
    font-size: 1.3rem;
}

.Receive_Option > input {
    margin-left: auto;
    transform: scale(1.5);
}

.User_Order_Shipping_Address {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    padding-bottom: 1.5rem;
}

.User_Order_Shipping_Address_Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.User_Order_Shipping_Address_Edit_Btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: lightblue;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.User_Order_Shipping_Address_Edit_Btn > span {
    font-size: 1.1rem;
}

.User_Order_Shipping_Info {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-top: 1px solid gray;
    padding-top: 0.5rem;
}

.User_Order_Shipping_Info > p {
    font-size: 0.85rem;
    line-height: 1.1rem;
    text-align: justify;
}

.Recieve_Option_Observation {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

#receive_option_observation_text_area {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    width: 100% !important;
    min-height: 9rem;
    max-height: 9rem;
}

/* Barra de Progresso */

#progress {
    transform: rotate(-90deg);
}

circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
}

.bg {
    stroke: lightblue;
    opacity: 0.5;
}

#progress .indicator {
    stroke: lightblue;
}

.Progress_Bar_Container {
    width: 100%;
    border-radius: 1rem;
}

.Progress_Bar_Wrapper {
    width: 100%;
    height: 0.5rem;
    background: lightgray;

    border-radius: 1rem;
    overflow: hidden;
}

.Progress_Bar {
    width: 100%;
    height: 0.5rem;
    background: #009ee3;
    transform-origin: 0%;

    position: relative;
}

/* Mercado Pago Wallet */

#walletBrick_container {
    margin-top: -1rem;
}
