@import "@material-design-icons/font";

:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 800px;
    margin: 0 auto;
    padding: 2.5rem 1rem;

    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.UserTab_Content_Wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-height: 50vh;
    overflow-y: auto;
}

.User_Tab_Card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: gray;
}

.User_Account_Info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.User_Account_Info_Items,
.User_Adress_Info_Items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.User_Info_Item {
    display: flex;
}
